.idea
IITEST.py
chisla.txt
chisla1.py
clients.txt
dop.py
dop1.py
file_creator.py
first.txt
first_and_second.py
kapusta.txt
main_test.py
no_kak.txt
puk.txt
qrwrfwe.py
rqwer.py
rtew.py
second.txt
second1.txt
second_and_first.txt
tasdk12476184682.py
task1.py
task12313131231231231.py
task123714104112e1w.py
task13.py
task2.py
task2112313.py
task2333333233333.py
task4.py
task6.py
task7dop.py
tassk7.py
teach.py
test.py
test1.py
test3.py
tets2.py
third1.txt
tnt.py
tqweiurhwui2.py
words.txt
